{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
{{ govukBackLink({ text: "Back", href: "/tasks/" ~ task._id ~ "/edit" }) }}

  <h1 class="govuk-heading-xl">Are you sure you want to delete the task?</h1>

  <div class="govuk-body">
    <p>You are about to delete the task: <strong>{{ task.title }}</strong>.</p>
    <p>This action cannot be undone.</p>
  </div>

  <form method="post" action="/tasks/{{ task._id }}/delete">
    <button type="submit" class="govuk-button govuk-button--warning">Yes, delete task</button>
  </form>

  <a href="/tasks/{{ task._id }}/edit" class="govuk-link">No, keep task</a>
{% endblock %}