{% extends "template.njk" %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <h1 class="govuk-heading-xl">Task list</h1>

  {% if error %}
    <p class="govuk-error-message">{{ error }}</p>
  {% endif %}

  {% if summaryListRows.length == 0 %}
    {{ govukInsetText({
      text: "There are no tasks to display"
    }) }}
  {% else %}
    <p class="govuk-body">Select a task to view or update its details</p>
  {% endif %}

  {{ govukSummaryList({
    rows: summaryListRows
  }) }}

  {% if hasPagination %}
    {{ govukPagination(paginationOptions) }}
  {% endif %}

  {{ govukButton({
    text: "Add new task",
    href: "/tasks/new"
  }) }}

{% endblock %}
