{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to the Case Management System</h1>

  {% set html %}
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
        You have {{ taskCount }} task{% if taskCount != 1 %}s{% endif %}
        that {% if taskCount == 1 %}needs{% else %}need{% endif %} attention.
      </p>
    <p>
      <a class="govuk-notification-banner__link" href="/tasks/list">View tasks</a>
    </p>
  </div>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}

  {{ govukButton({
    text: "Add new task",
    href: "/tasks/new"
  }) }}

{% endblock %}
